/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

button {
  border: 1px, solid;
  color: black;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/* ------------------------------------- */
/* HEADINGS */
/* ------------------------------------- */

h1 {
    color: white;
    font-size: 60px;
    letter-spacing: 2px;
}

h2 {
    margin-bottom: 8px;
    margin-top: 5px;
    letter-spacing: .25px;
}

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header {
    height: 150px;
    background-color: #bdbcbc;
    display: flex;
    align-items: center;
}

/* ------------------------------------- */
/* ADD EMPLOYEE SECTION */
/* ------------------------------------- */

#input-list {
    display: flex;
}

#input-list input {
    width: 100%;
    border: 1px solid #c7c6c6;
    text-align: left;
    padding: 8px;
    font-size: 14px;
    margin-right: 4px;
}

#input-list input:last-of-type {
    margin-right: 0px;
}

#submit-btn {
    float: right;
}

/* ------------------------------------- */
/* TABLE SECTION */
/* ------------------------------------- */

table {
  font-family: 'Lato', sans-serif;
  font-size: 105%;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #c7c6c6;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th:last-of-type {
    width: 134px;
    min-width: 134px;
}

.table-cell-btn {
    text-align: center;
}

#total-monthly-text {
    float: right;
    padding: 9px;
}
